<?xml version="1.0" encoding="utf-8"?>
<!--
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap uap3 mp rescap"
         >
-->
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" IgnorableNamespaces="uap uap3 uap5 mp">
  <Identity Name="52458FLECOQUI.TestMediaApp" Publisher="CN=0F2C9F5D-19D3-44D5-AC3F-64AB88C40609" Version="1.1.34.0" />
  <mp:PhoneIdentity PhoneProductId="096a95d9-b950-4854-ad77-99a1381e9dd9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TestMediaApp</DisplayName>
    <PublisherDisplayName>FLECOQUI</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.14393.0" MaxVersionTested="10.0.16299.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="AudioVideoPlayer.App">
      <uap:VisualElements DisplayName="TestMediaApp" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="AudioVideoPlayer" BackgroundColor="#00b2f0">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="black" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="testmediaapp">
            <uap:DisplayName>TestMediaApp</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.tma</uap:FileType>
              <uap:FileType>.asf</uap:FileType>
              <uap:FileType>.avi</uap:FileType>
              <uap:FileType>.ismv</uap:FileType>
              <uap:FileType>.ts</uap:FileType>
              <uap:FileType>.m4a</uap:FileType>
              <uap:FileType>.mkv</uap:FileType>
              <uap:FileType>.mov</uap:FileType>
              <uap:FileType>.mp4</uap:FileType>
              <uap:FileType>.mp3</uap:FileType>
              <uap:FileType>.aac</uap:FileType>
              <uap:FileType>.wma</uap:FileType>
              <uap:FileType>.wmv</uap:FileType>
              <uap:FileType>.wav</uap:FileType>
              <uap:FileType>.flac</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="testmediaapp">
            <uap:Logo>Assets\AudioVideo.png</uap:Logo>
            <uap:DisplayName>TestMediaApp</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.autoPlayContent">
          <uap:AutoPlayContent>
            <uap:LaunchAction Verb="PlayCD" ActionDisplayName="Play CD" ContentEvent="PlayCDAudioOnArrival" />
          </uap:AutoPlayContent>
        </uap:Extension>

        <uap:Extension Category="windows.appService" EntryPoint="CompanionService.CompanionServiceTask">
          <uap3:AppService Name="com.testmediaapp.companionservice" SupportsRemoteSystems="true"/>
        </uap:Extension>
        <uap5:Extension Category="windows.startupTask" Executable="AudioVideoPlayer.exe" EntryPoint="AudioVideoPlayer.App">
          <uap5:StartupTask TaskId="TestMediaAppStartupId" Enabled="false" DisplayName="TestMediaAppStartupTask">
          </uap5:StartupTask>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="removableStorage" />
    <uap3:Capability Name="backgroundMediaPlayback" />
    <uap3:Capability Name="remoteSystem" />
    <!--
    <rescap:Capability Name="hevcPlayback" />
    -->
    <DeviceCapability Name="6a7e5907-885c-4bcb-b40a-073c067bd3d5" />
    <DeviceCapability Name="Optical" />
    <DeviceCapability Name="53f56308-b6bf-11d0-94f2-00a0c91efb8b" />
  </Capabilities>
</Package>